@import './palette';

.dashboard {
  align-self: flex-start;
  display: flex;
  margin-top: 77px;

  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 744px;
    margin-left: 89px;
    margin-right: 159px;

    h1 {
      font-size: 33px;
      font-weight: 700;
      color: $color4;
    }

    .items {
      margin-top: 24px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .link {
        flex-shrink: 0;
        flex-grow: 0;
        border-radius: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        width: 347px;
        height: 86px;
        padding-left: 72px;
        flex-direction: column;
        text-decoration: none;
        box-shadow: 0 4px 8px 0 $color7;
        margin-bottom: 50px;
        transition: all 200ms;

        &:hover {
          transform: scale(1.1);
        }

        &:nth-child(odd) {
          margin-right: 50px;
        }

        &::before {
          position: absolute;
          left: 19px;
          content: '';
          display: block;
          background-repeat: no-repeat;
        }

        &.category0 {
          &::before {
            width: 40px;
            height: 34px;
            background-image: url("../assets/category-icon-1.png");
          }
        }

        &.category1 {
          &::before {
            width: 38px;
            height: 30px;
            background-image: url("../assets/category-icon-2.png");
          }
        }

        &.category2 {
          &::before {
            width: 39px;
            height: 33px;
            background-image: url("../assets/category-icon-3.png");
          }
        }

        &.category3 {
          &::before {
            width: 45px;
            height: 27px;
            left: 15px;
            background-image: url("../assets/category-icon-4.png");
          }
        }

        &.category4 {
          &::before {
            width: 37px;
            height: 42px;
            background-image: url("../assets/category-icon-5.png");
          }
        }

        &.category5 {
          &::before {
            width: 31px;
            height: 36px;
            background-image: url("../assets/category-icon-6.png");
          }
        }

        &.category6 {
          &::before {
            width: 35px;
            height: 32px;
            background-image: url("../assets/category-icon-7.png");
          }
        }

        &.category7 {
          &::before {
            width: 26px;
            height: 37px;
            left: 25px;
            background-image: url("../assets/category-icon-8.png");
          }
        }

        &.category8 {
          &::before {
            width: 40px;
            height: 34px;
            background-image: url("../assets/category-icon-9.png");
          }
        }

        &.category9 {
          &::before {
            width: 44px;
            height: 36px;
            left: 13px;
            background-image: url("../assets/category-icon-10.png");
          }
        }

        &::after {
          position: absolute;
          right: 18px;
          content: '';
          display: block;
          width: 31px;
          height: 31px;
          background-image: url("../assets/plus-icon.png");
        }

        .title {
          display: inline-block;
          margin-bottom: 5px;
          color: $color3;
          font-size: 17px;
          font-weight: 500;
        }

        .description {
          font-size: 13px;
          font-weight: 400;
          color: $color6;
        }
      }
    }
  }
}
